section.about 
    .container 
        .about-main 
            .about-content 
                h3.caption About us 
                h2.heading Discover entire universes designed For Your Project
                p.desc Phasellus pulvinar iaculis nunc at placerat. Sed porta sollicitudin eros, vel sagittis turpis consequat nec. Donec ac viverra ligula, in scelerisque leo.
                button.btn--primary.btn get started  
            .about-img 
                img.phone(src="../../../../images/img2.png", alt="")