section.contact 
    .container 
        .contact-main 
            img.contact-img1(src="../../../../images/img10.png", alt="")
            img.contact-img2(src="../../../../images/img11.png", alt="")
            .contact-content
                h2.heading.heading--big Let's Get Started 
                p.desc.desc--big Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi fugit dolores dolor corrupti quod amet.
                button.btn.btn--primary Get started 