section.experience 
    .container 
        .experience-main 
            .experience-img 
                .experience-number
                    span 20 
                    img(src="../../../../images/img-dots.png", alt="")
            .experience-content 
                .caption experience
                .heading Year of Creative Universes Performance
                .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem labore excepturi corrupti dicta eaque deserunt mollitia deleniti voluptas voluptates!