section.feature
    .container 
        .feature-main 
            .feature-item 
                .feature-icon 
                    img.feature-img(src="../../../../images/img-lightbulb.png", alt="")
                h3.feature-title Creative idea
                p.feature-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eos repellat recusandae porro iste sunt dicta aut?
            .feature-item 
                .feature-icon 
                    img.feature-img(src="../../../../images/img-coffee.png", alt="")
                h3.feature-title Creative idea
                p.feature-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eos repellat recusandae porro iste sunt dicta aut?
            .feature-item 
                .feature-icon 
                    img.feature-img(src="../../../../images/img-trophy.png", alt="")
                h3.feature-title Creative idea
                p.feature-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eos repellat recusandae porro iste sunt dicta aut?