footer.footer 
    .footer-top 
        .container 
            .footer-main 
                .footer-column 
                    a(href="index.html")
                    |
                    img.footer-logo(src="../../../../images/logo-footer.png", alt="") 
                    p.footer-desc.desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione quos doloribus obcaecati assumenda sit cupiditate maiores sapiente ipsam nam quo!
                    .social 
                        a.social-item(href="#") 
                            i.fab.fa-facebook-f 
                        a.social-item(href="#") 
                            i.fab.fa-instagram
                        a.social-item(href="#") 
                            i.fab.fa-youtube
                        a.social-item(href="#") 
                            i.fab.fa-twitter
                .footer-column 
                    h3.footer-heading.second-font Usefull Links 
                    ul.footer-links 
                        li.footer-item 
                            a.footer-link(href="#") About Us 
                        li.footer-item 
                            a.footer-link(href="#") Contact us 
                        li.footer-item 
                            a.footer-link(href="#") Terms of Services
                        li.footer-item 
                            a.footer-link(href="#") Plan & Precing 
                        li.footer-item 
                            a.footer-link(href="#") Site Map
                .footer-column 
                    h3.footer-column.second-font Contact Us 
                    ul.footer-info 
                        li Phone Number 2: ( + 051 ) 958 23 78 51
                        li 
                            | Phone Number2:
                            span.footer-hightlight ( + 051 ) 958 23 78 51
                    ul.footer-info 
                        li 
                            a(href="") Email: support@ocatavian.io
                        li Fax: support@ocatavian.io
                    ul.footer-info  
                        li Address: Envato Pty Ltd 13/2 Permanent ST melbourne VLC 3000 - Australia
    .footer-bottom 
        .container.footer-container 
            a.footer-rocket(href="") 
                i.fas.fa-rocket 
            p 
                | Copyright © 2020 Octavian, Designed by
                a(href="#") TexTheme 
                | All rights reserved.   