header.header 
    .container 
        .header-main 
            img.header-logo(src='../../../images/logo.png' alt='logo')
            ul.header-menu 
                li.header-menu-item 
                    a.header-menu-link(href='#') home
                li.header-menu-item 
                    a.header-menu-link(href='#') about us
                li.header-menu-item 
                    a.header-menu-link(href='#') service
                li.header-menu-item 
                    a.header-menu-link(href='#') blog 
                li.header-menu-item 
                    a.header-menu-link(href='#') contact
            .header-tool 
                img.icon-search(src="../../../images/icon-search.png", alt="")
                img.icon-menu(src="../../../images/icon-menu.png", alt="")