section.hero 
    .container 
        .hero-content 
            h1.hero-heading Creative 
            h3.hero-caption Online branding agency
            .hero-videos 
                img.hero-videos-img(src="../../../images/icon-play.png", alt="")
                span Play videos -2:53s