section.partner
    .container 
        .partner-header 
            .caption PARTNER
        .partner-list 
            .partner-item 
                img(src="../../../../images/logo2.png", alt="")
            .partner-item 
                img(src="../../../../images/logo2.png", alt="")
            .partner-item 
                img(src="../../../../images/logo3.png", alt="")
            .partner-item 
                img(src="../../../../images/logo4.png", alt="")
            .partner-item 
                img(src="../../../../images/logo5.png", alt="")
            .partner-item 
                img(src="../../../../images/logo6.png", alt="")
            .partner-item 
                img(src="../../../../images/logo7.png", alt="")
            .partner-item 
                img(src="../../../../images/logo8.png", alt="")
                