section.review 
    .container 
        .review-main 
            .review-content 
                h3.caption Testimonials 
                h2.heading See our Customers' Review
                p.desc Lorem ipsum dolor sit, amet consectetur adipisicing elit
            .review-list 
                .review-item 
                    img(src="../../../../images/img-quote.png", alt="").review-img
                    .review-desc 
                        p 
                        | Lorem ipsum dolor sit.
                        strong Lorem, ipsum dolor.
                        | Lorem, ipsum dolor.
                    img.review-author-img(src="../../../../images/img7.png", alt="").
                    h3.review-author Judie Lipsy
