section.work 
    .container 
        .work-header 
            h3.caption  work 
            h2.heading Recently Created Universes 
            p.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aperiam sequi autem maxime mollitia at, fuga reprehenderit laudantium iste quae.
        .work-list 
            .work-item
                img.work-img(src="../../../../images/doigiay.png", alt="")
            .work-item
                img.work-img(src="../../../../images/caily.png", alt="")
            .work-item
                img.work-img(src="../../../../images/bonghoa.png", alt="")
            .work-item
                img.work-img(src="../../../../images/idBadge.png", alt="")
        .work-btn
            button.btn.btn--primary All works