.contact{
    margin-bottom: 14rem;
    &-content{
        max-width: 50rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &-main{
        background-color: #222222;
        border-radius:16px;
        padding: 13.5rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;   
        position: relative;
        .desc{
            margin-bottom: 6rem;
        } 
    }
    &-img1{
        position: absolute;
        left: 75%;
    }
    &-img2{
        position: absolute;
    }
}