.feature{
    padding: 15rem 0 20rem;
    &-main{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0 3rem;
        padding: 10rem 0;
        text-align: center;
    }
    &-item{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius:4px;
        background-color: $gray-darker;
        padding: 6.5rem 4rem;

    }
    &-icon{
        margin-bottom: 3.5rem;

    }
    &-title{
        font-weight: 800;
        color: #ffffff;
        font: 2.2rem;
        margin-bottom: 2rem;
        text-transform: capitalize;
    }
    &-desc{
        line-height: (3.4rem / 1.8rem);
    }
}