.review{
    padding-bottom:20rem;

    &-content{
        text-align: center;
        margin:0 auto 7rem;
        max-width: 50rem;
    }
    &-item{
        position: relative;
        max-width: 84rem;
        margin: 0 auto;
        border-radius: 8px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color:$gray-darker;
        box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
        padding: 7.5rem 10rem 6rem;
        & strong {
            font-weight: 700;
            font-size: 4.8rem;
        }
        
    }
    &-desc{
        color: #ffffff;
        font-size: 3rem;
        margin-bottom: 10rem;
        line-height: (48 / 30);
    }
    &-img{
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        top:0;
    }
    &-author-img{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        margin-bottom: 2.5rem;
    }
    &-author{
        font-weight: 800;
    }
}